
body {
    font-family: "Menlo", "Courier", "Courier New", sans-serif;
	font-size: 12px;
    line-height: 1.5em;
}

body > article {
	margin: auto;
	width: 800px;
}

h1 {
	font-size: 2em;
}

span.duvida {
	font-style: italic;
	color: red;  
}
span.duvida:before {
	content: "("
}
span.duvida:after {
	content: ")"
}

article > section {
	margin-top: 2em;
	background: #eee;
	border-radius: 0.9em;
	padding: 0.9em;
	box-shadow: 0.2em 0.2em 0.2em #aaa;
	border: 1px solid #ccc;
}

article > section > section {
	border: 1px solid #ccc;
    padding: 1.3em 0.9em 0.9em;
    margin-bottom: 1em;
	border-radius: 0.9em;
	overflow: hidden;
}

article > section > header {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 1.2em;
}

article > section > section > header {
	border-bottom: 2px solid #ccc;
	font-size: 1.2em;
	margin-bottom: 1.5em;
}

.tagname {
	background: #ccc;
	padding: 0.4em;
}
.tagname:before {
	content: "<"
}
.tagname:after {
	content: ">"
}

dd {
	margin-bottom: 0.3em;
}

/* parâmetros das tags */
.paramlist dt {
	/*text-decoration: underline;*/
	font-weight: bold;
}
.paramlist > dt:before {
	content: "["
}
.paramlist > dt:after {
	content: "]"
}

/* valores possíveis para os parâmetros das tags */
.paramlist > dd > dl > dt:before {
	content: "\""
}
.paramlist > dd > dl > dt:after {
	content: "\""
}

pre {
    padding: 0 0 0 2em;
    border-radius: 0.9em;
	border: 2px dashed #ccc;
}
